.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title{
    text-align: center;
    border: black solid 1px;
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    width: 500px;
    padding: 10px;
}

.score-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 10px;
    width: 440px;
<!-- border: black solid 1px; -->}

.score-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 1px;
    height: 130px;
    width: 100%;
    padding: 10px;
}

.score-computer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 1px;
    height: 130px;
    width: 100%;
    padding: 10px;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin: 10px;
    width: 500px;
    padding: 10px;
    border: black solid 1px;
}

.game-user, .game-computer{
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
}

.game-user-bottom, .game-computer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.result{
    text-align: center;
    border: black solid 1px;
    width: 500px;
    padding: 10px;
    margin: 10px;
    height: 50px;
}

.play-again{
    text-align: center;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
}

.play-again button{
    cursor: pointer;
}

.hidden { display: none; }

